@tailwind base;
@tailwind components;
@tailwind utilities;


/* scroll thumb */
::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(107, 145, 205);
  }
  